.brand{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 70px;
}
.brand__content{
  width: 490px;
}
.brand__title-box{
  width: 380px;
  margin: 0;
}
.brand__title{
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
}
.brand__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  margin-bottom: 30px;
  padding-left: 40px;
  border-left: 3px solid #888888;
}
.brand__link{
  display: inline-block;
  width: 260px;
  padding: 12px 90px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee7f79;
  color: #FFFFFF; 
  transition: background-color 0.3s ease-in-out ;
  &:hover{
    background-color: #EA625C;
  }
}
.brand__img{
  width: 400px;
  height: 600px;
}