.data{
  padding: 70px 0;
}
.data__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.data__item{
  width: 280px;
}
.data__title{
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
}
.data__text{
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
}
.circle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
}
.circle__element{
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #DDDDDD;
}
.box{
  display: flex;
  align-items: center;
}
.box__line{
  display: inline-block;
  width: 40px;
  height: 3px;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  background-color: #EA625C;
  transition: all 0.3s ease-in-out;
}
.box__link{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #EA625C;
} 
.box:hover .box__line{
  width: 50px;
}