.head{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 79px;
}
.head__link{
  text-decoration: none;
  margin-right: auto;
}
.head__img{
  width: 35px;
  height: 42px;
}
.nav{
  width: 270px;
  margin-right: 40px;
  
}
.nav__list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin: 6.06px 0 6.06px 0;
  padding: 0;
  list-style: none;

}
.nav__item{
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
  &:hover{
    border-bottom: 3px solid #333333;
  }
}
.nav__link{
  font-weight: normal;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  color: #333333;
  margin: 6px 0px;
  text-decoration: none;
}
.form__input{
  width: 165px;
  padding: 6px 0px;
  border: none;
  border-bottom: 1px solid #333333;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #666666;
  margin-left: 5px;
}
